* {
    padding : 0 ;
    margin : 0 ;
}

body {
    min-height : 100vh ;
    background-color : #1D546D ;
    display : flex ;
    flex-direction : row ;
    justify-content : center ;
    align-items : center ;
}

#container {
    height : 300px ;
    width : 300px ;
    position : relative ;
    perspective : 1000px ;
}

#cube {
    height : 100% ;
    width : 100% ;
    position : absolute ;
    transform-style : preserve-3d ;
    animation : spin 15s ease-in-out 0s infinite normal ;
}

.faces {
    height : 100% ;
    width : 100% ;
    position : absolute ;
}

#front {
    background-color : #C97C7C ;
    transform : translateZ(150px) ;
}

#back {
    background-color : #BFAE9F ;
    transform : rotateY(180deg) translateZ(150px) ;
}

#top {
    background-color : #A89BC9 ;
    transform : rotateX(-90deg) translateZ(150px) ;
}

#bottom {
    background-color : #D0B46F ;
    transform : rotateX(90deg) translateZ(150px) ;
}

#left {
    background-color : #7A9EB1 ;
    transform : rotateY(90deg) translateZ(150px) ;
}

#right {
    background-color : #8FB8A5 ;
    transform : rotateY(-90deg) translateZ(150px) ;
}

@keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    20% {
        transform: rotateX(120deg) rotateY(-90deg);
    }
    40% {
        transform: rotateX(-60deg) rotateY(180deg);
    }
    60% {
        transform: rotateX(200deg) rotateY(60deg);
    }
    80% {
        transform: rotateX(-180deg) rotateY(-200deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@media (max-width : 550px) {
    #container {
    height : 200px ;
    width : 200px ;
    }

    #front {
    transform : translateZ(100px) ;
    }

    #back {
        transform : rotateY(180deg) translateZ(100px) ;
    }

    #top {
        transform : rotateX(-90deg) translateZ(100px) ;
    }

    #bottom {
        transform : rotateX(90deg) translateZ(100px) ;
    }

    #left {
        transform : rotateY(90deg) translateZ(100px) ;
    }

    #right {
        transform : rotateY(-90deg) translateZ(100px) ;
    }
}